.today-schedule,
.today-schedule * {
  box-sizing: border-box;
}
.today-schedule {
  background: #ffffff;
  border-radius: 20px;
  width: 375px;
  height: 812px;
  position: relative;
  overflow: hidden;
}
.group-10 {
  position: absolute;
  inset: 0;
}
.rectangle-3 {
  background: #fafafa;
  border-radius: 8px;
  width: 315px;
  height: 370px;
  position: absolute;
  left: 30px;
  top: 396px;
}
.group-6 {
  width: 271px;
  height: 34px;
  position: static;
}
.rectangle-7 {
  border-radius: 4px;
  border-style: solid;
  border-color: #bfbfbf;
  border-width: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 51px;
  top: 424px;
}
.briefing-with-lokanaka {
  color: #292929;
  text-align: left;
  font: 700 16px "Nunito", sans-serif;
  position: absolute;
  left: 93px;
  top: 412px;
}
.icon-chevron {
  position: absolute;
  left: 298px;
  top: 422px;
  overflow: visible;
}
.group-7 {
  width: 271px;
  height: 34px;
  position: static;
}
.rectangle-8 {
  border-radius: 4px;
  border-style: solid;
  border-color: #bfbfbf;
  border-width: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 51px;
  top: 520px;
}
.pitching-with-john {
  color: #292929;
  text-align: left;
  font: 700 16px "Nunito", sans-serif;
  position: absolute;
  left: 93px;
  top: 508px;
}
.icon-chevron2 {
  position: absolute;
  left: 298px;
  top: 518px;
  overflow: visible;
}
.group-8 {
  width: 271px;
  height: 34px;
  position: static;
}
.rectangle-10 {
  border-radius: 4px;
  border-style: solid;
  border-color: #bfbfbf;
  border-width: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 51px;
  top: 616px;
}
.design-landing-page {
  color: #292929;
  text-align: left;
  font: 700 16px "Nunito", sans-serif;
  position: absolute;
  left: 93px;
  top: 604px;
}
.icon-chevron3 {
  position: absolute;
  left: 298px;
  top: 614px;
  overflow: visible;
}
.group-9 {
  width: 271px;
  height: 34px;
  position: static;
}
.rectangle-12 {
  border-radius: 4px;
  border-style: solid;
  border-color: #bfbfbf;
  border-width: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 51px;
  top: 712px;
}
.design-loka-dashboard {
  color: #292929;
  text-align: left;
  font: 700 16px "Nunito", sans-serif;
  position: absolute;
  left: 93px;
  top: 700px;
}
.icon-chevron4 {
  position: absolute;
  left: 298px;
  top: 710px;
  overflow: visible;
}
.today-date {
  position: absolute;
  inset: 0;
}
.thursday {
  color: #7f00ff;
  text-align: left;
  font: 700 18px "Nunito", sans-serif;
  position: absolute;
  left: 30px;
  top: 30px;
}
._09-june-2023 {
  color: #4a4a4a;
  text-align: left;
  font: 600 12px "Nunito", sans-serif;
  position: absolute;
  left: 30px;
  top: 55px;
}
.group-3 {
  position: absolute;
  inset: 0;
}
.task-list {
  color: #262626;
  text-align: left;
  font: 700 24px "Nunito", sans-serif;
  position: absolute;
  left: 30px;
  top: 106px;
}
._2-10-task-finished {
  color: #7f00ff;
  text-align: left;
  font: 700 14px "Nunito", sans-serif;
  position: absolute;
  left: 241px;
  top: 148px;
}
.profil-picture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 295px;
  top: 30px;
}
.group-11 {
  position: absolute;
  inset: 0;
}
.rectangle-1 {
  background: linear-gradient(
    136.04deg,
    rgba(127, 0, 255, 1) 0%,
    rgba(225, 0, 255, 1) 100%
  );
  border-radius: 8px;
  width: 315px;
  height: 172px;
  position: absolute;
  left: 30px;
  top: 198px;
  box-shadow: 4px 12px 20px 4px rgba(225, 0, 255, 0.21);
}
.group-4 {
  width: 273px;
  height: 34px;
  position: static;
}
.rectangle-5 {
  background: #ffffff;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 51px;
  top: 226px;
}
.wake-up {
  color: #ffffff;
  text-align: left;
  font: 700 16px "Nunito", sans-serif;
  position: absolute;
  left: 93px;
  top: 214px;
}
.icon-chevron5 {
  position: absolute;
  left: 298px;
  top: 224px;
  overflow: visible;
}
.icon-checklist {
  position: absolute;
  left: 49px;
  top: 224px;
  overflow: visible;
}
.group-5 {
  width: 273px;
  height: 34px;
  position: static;
}
.rectangle-6 {
  background: #ffffff;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 51px;
  top: 322px;
}
.daily-workout {
  color: #ffffff;
  text-align: left;
  font: 700 16px "Nunito", sans-serif;
  position: absolute;
  left: 93px;
  top: 310px;
}
.icon-chevron6 {
  position: absolute;
  left: 298px;
  top: 320px;
  overflow: visible;
}
.icon-checklist2 {
  position: absolute;
  left: 49px;
  top: 320px;
  overflow: visible;
}
.rectangle-13 {
  background: #ffffff;
  width: 375px;
  height: 118px;
  position: absolute;
  left: 0px;
  top: 680px;
}
.button-create-task {
  position: absolute;
  inset: 0;
}
.rectangle-62 {
  background: linear-gradient(
    136.04deg,
    rgba(127, 0, 255, 1) 0%,
    rgba(225, 0, 255, 1) 100%
  );
  border-radius: 8px;
  width: 315px;
  height: 76px;
  position: absolute;
  left: 30px;
  top: 680px;
  box-shadow: 4px 12px 20px 4px rgba(225, 0, 255, 0.21);
}
.create-task {
  color: #ffffff;
  text-align: left;
  font: 700 16px "Nunito", sans-serif;
  position: absolute;
  left: 146px;
  top: 707px;
}
